.logo{
    width: 150px;
    height: auto;
}
.home{
  height: 80vh;
  /* background-image: linear-gradient(to right bottom, rgba(255, 222, 125, 0.3), rgba(246, 65, 108, 0.3)), url('/rsc/images/source.gif'); */
  background-image: url('/rsc/images/source.gif');
  background-size: cover;
  background-position: top;
  /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 92vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 92vh, 0 100%); */
}
.home img{
    width: 300px;
    /* border: 1px solid white; */
    border-radius: 400px;
}
.home h4{
    text-align: center;
    color: whitesmoke;
}

.heading-primary-main {
    text-align: center;
    color: white;
    line-height: 1.3;
    display: block;
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 0.6rem;
    animation: leftIn 0.75s ease-out;
}
.button button:hover{
    color:black;
    background-color: white;
}
.cubeSec{
    height: 60vh;
    padding: 5vh 0 5vh 0;
    margin-top: 5vh;
}




  /* starting about section  */
  .section-about {
    background-color: #f7f7f7;
    padding: 15vh 0 25vh 0;
    margin-top: -7vh;
  }
  
  @media (max-width: 56.25em) {
    .section-about {
      padding: 20rem 4rem;
    }
  }
  
  .about-grid {
    padding: 0 8vw 0 12vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-row-gap: 0vw;
    justify-content: space-evenly;
  }
  
  .about-item {
    text-align: center;
  }
  
  .tech-cube {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    object-fit: scale-down;
    perspective: 1000px;
    perspective-origin: 50% 50%;
  }
  
  @media (max-width: 768px) {
    .tech-cube {
      margin-top: 10vh;
    }
  }
  
  .cube {
    margin: auto;
    position: relative;
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
  }
  
  .cube>div {
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    width: 100%;
    border: solid 3px #f6416c;
    background-color: rgba(249, 243, 237, 0.7)
  }
  
  .front {
    transform: translateZ(100px);
    display: flex;
    align-items: center;
  }
  
  .front>img {
    width: 150px;
  }
  .left > img{
    height: 70%!important;
  }
  .back {
    transform: translateZ(-100px) rotateY(180deg);
    display: flex;
    align-items: center;
  }
  
  .back>img {
    width: 150px;
  }
  
  .right {
    transform: rotateY(-270deg) translateX(100px);
    transform-origin: top right;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
  }
  
  .right>img {
    width: 150px;
  }
  
  .left {
    transform: rotateY(270deg) translateX(-100px);
    transform-origin: center left;
    display: flex;
    align-items: center;
  }
  
  .left>img {
    width: 150px;
  }
  
  .top {
    transform: rotateX(-270deg) translateY(-100px);
    transform-origin: top center;
    display: flex;
    align-items: center;
  }
  
  .top>img {
    width: 150px;
  }
  
  .bottom {
    transform: rotateX(270deg) translateY(100px);
    transform-origin: bottom center;
    display: flex;
    align-items: center;
  }
  
  .bottom>img {
    width: 150px;
  }
  
  @keyframes rotate {
    from {
      transform: rotateX(0deg) rotateY(0deg);
    }
  
    to {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }
  
  .cube {
    animation: rotate 10s infinite linear;
  }
  
  /* adding hover effect */
  .tech-cube:hover .front {
    transform: translateZ(200px);
  }
  
  .tech-cube:hover .back {
    transform: translateZ(-200px) rotateY(180deg);
  }
  
  .tech-cube:hover .right {
    transform: rotateY(-270deg) translateZ(100px) translateX(100px);
  }
  
  .tech-cube:hover .left {
    transform: rotateY(270deg) translateZ(100px) translateX(-100px);
  }
  
  .tech-cube:hover .top {
    transform: rotateX(-270deg) translateZ(100px) translateY(-100px);
  }
  
  .tech-cube:hover .bottom {
    transform: rotateX(270deg) translateZ(100px) translateY(100px);
  }
  
  .cube>div {
    transition: transform 0.2s ease-in;
  }
  
  /* ending about section */
